---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// color variables
:root {
    --main-bg-color-dark: hsl(0, 0%, 18%);
    --main-bg-color-light: hsl(0, 0%, 87%);
    --main-text-color-dark: hsl(0, 0%, 80%);
    --main-bg-color-highlight-dark: hsl(0, 0%, 25%);
    --main-border-dark: hsl(0, 0%, 15%);
    --main-menu-color: hsl(0, 0%, 18%);
}


// overwrite default
body {
    background-color: var(--main-bg-color-light);
}
.site-header {
    border-top: 0px solid var(--main-border-dark);
}
button {
    display: inline-block;
    width: 140px;
}

html[data-theme="light"] {
    body {
        // Keep original
    }
    button {
        background-color: var(--main-bg-color-light);
    }
}

html[data-theme="dark"] {
    body {
        background-color: var(--main-bg-color-dark);
        color: var(--main-text-color-dark);
    }
    button {
        background-color: var(--main-bg-color-dark);
        color: white;
    }
    .site-nav {
        background-color: var(--main-menu-color);
        border: 0px;
    }
    .site-title {
        color: var(--main-text-color-dark);
    }
    .site-header {
        border-bottom: 1px solid var(--main-border-dark);
    }
    .site-footer {
        border-top: 1px solid var(--main-border-dark);
    }
    .page-link {
        color: var(--main-text-color-dark);
    }
    pre, code {
        background-color: var(--main-bg-color-highlight-dark);
        border: var(--main-bg-color-highlight-dark);
        border-radius: 0px;
    }
}



@media (prefers-color-scheme: dark) {
html {
    content: "dark";
}
}
